body{
	background-image: url('logo1.png');
	background-size: cover; 
}

.video_selector{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -999;

}
div{
	font-family: times;
	font-weight: 900;
	color: black;
	text-align:center;
	margin-top: 300px;

}
button{
	background-color:  green;
	text-shadow: 2px 2px black;


}
button a{
	font-size: 40px;
	color: #fff;
	text-decoration: none;
	padding: 3px;
}
